*{
    text-align: center;
    margin-top: 100px;
}
body{
    display: grid;
    grid-template-columns: repeat(1,200px);
    justify-content: center;
    display: flex;
    width: 60%;
    gap: 30px;
    margin: auto;
}
.box{
 display: flex;
 height: 200px;
 width: 200px;
 /* border: 2px solid black; */
 margin-bottom: 30px;
 justify-content: center;
 align-items: center;
 margin: auto;
 box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}
#roll{
    height: 40px;
    border: 0px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#winner {
    font-size: 24px;
    margin-top: 80px;
}